.body{
  width: 100%;
}

.footer-bottom {
  position: absolute;
  text-align: center;
  border-top: 5px solid;
  border-color: rgb(51, 49, 49);
  overflow: hidden;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  height: 75px;
  }

  .card- {


  }